<script language="javascript">function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}</script>
<style>
    .tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
    /* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}
    #car{
        background-image: url("../app/images/car.png"); 
        margin:auto;
        width:42em;
    }

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
    .status{
        font-size: 20px;
    }
    .problem{
        color:black;
        position: absolute;
        margin-top: -20 em;
    }
    * {font-family: Helvetica Neue, Arial, sans-serif; }



h1, panel-body.table { text-align: center; }

table {border-collapse: collapse; border: 1px solid black;  width: 100%; margin: 0 auto 5rem;}
    .input{
        border-collapse: collapse; border: 0px solid black;  width: 100%; margin: 0 auto 5rem;
    }
    .input th,.input td, .input tr{padding: 1.5rem; font-size: 1.3rem; border: 0px solid black; +}
th, td { padding: 1.5rem; font-size: 1.3rem; border: 1px solid black; }

tr {background: hsl(50, 100%, 100%); border: 1px solid black;}

tr, td { transition: .4s ease-in; } 

tr:first-child {background: hsla(240,100%,50%, 0.1); }

tr:nth-child(even) { background: hsla(240,100%,100%, 0.1); }

td:empty {background: hsla(240,100%,100%, 0.7); }

   textarea {
    resize: vertical;
    } 


</style>
     <div ng-controller="suggestController">
<div>
       <div class='navbar navbar-default navbar-static-top'>
      <div class='container-fluid'>
        <div class="navbar-header">
          <button id="searchs" onclick="searchPath()" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            
          <a class='navbar-brand' href='index.html'>Agorize Allianz Challenge</a>
        </div>
        <div class="navbar-collapse collapse">
                  
          <ul class="nav navbar-nav navbar-right">
		   <li><a href="#/admin">Users</a></li>
		    <li><a href="#/suggestion">Suggestions</a></li>
			  <li><a href="#/stat">Statistic</a></li>
            <li><a href="#/login">Disconnect</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
   </div>
     <div class="container">
      <div class="row">
      
        <div  >
   
   
          <div class="panel panel-info " style="float:center; width:83em;">
            <div class="panel-heading">
              <h3 class="panel-title" ></h3>
            </div>
                      
<fieldset>
<legend>Add a suggestion</legend>
     <table class="input">
<tr><th>suggestion description</th><th>type</th></tr>
<tr><td><textarea  ng-model="suggest.content" style="; width:80%; height:100%" rows="4" cols="50" type="text" name="suggestion" id="suggestion"> 
    </textarea></td>
    <td>
        <select ng-model="suggest.types" style="padding:1em; font-size:1.5em;">
        <option value="Misfire">Misfire</option>
        <option value="Components">Components</option>
        <option value="Catalyst">Catalyst</option>
        <option value="Evap System">Evap System</option>
        <option value="AC Refrigerant">AC Refrigerant</option>
        <option value="Oxygen Sensors">Oxygen Sensors</option>
        <option value="Oxygen Sensors Heater">Oxygen Sensors Heater</option>
        <option value="EGR System">EGR System</option>
        </select>
		
		
    </td>
</tr>

</table>
    
    
  <a ng-click="save()" class="btn btn-primary" style="margin-left:70em; width:10%"> save</a>
            
</fieldset>
              <legend>Suggestions</legend> 
<div class="panel-body">
              <table id="racetimes">
<tr id="firstrow"><th>suggestion</th><th>type</th></tr>
<tr ng-repeat="suggest in suggests">
<td>{{suggest.content}}</td><td>{{suggest.types}}</td>
</tr>
</table>
            </div>
                       
               

            
          </div>
            
            
        </div>
      </div>
    </div>
	</div>